.ds_uploader_shell{ font-size:12px; position:relative;}
.ds_uploader_shell .ds_uploader_nofile{ background:url(images/guide.png) no-repeat 40px 50%;}
.ds_uploader_shell .ds_uploader_onloading{ background:none;}
.ds_uploader{ color:#333; font-size:12px; line-height:1.5; margin:0 auto; min-height:336px; width:772px; position:relative; _height:336px;}
.ds_uploader .hide{ display:none;}
.ds_uploader ul, .ds_uploader h3{ margin:0; padding:0;}
.ds_uploader .ds_uploader_loading, .ds_uploader .ds_uploader_note{ padding:90px 0; text-align:center;}
.ds_uploader .ds_uploader_loading i{ display:inline-block; background:url(images/loading.gif) no-repeat; margin-top:-3px; height:100px; width:100px; vertical-align:middle; *margin-top:0;}
.ds_uploader .ds_uploader_loading em{ display:none;}
.ds_uploader .ds_uploader_note{ padding-top:100px;}
.ds_uploader .ds_uploader_note span{ display:inline-block; padding-left:58px; text-align:left; vertical-align:top;}
.ds_uploader .ds_uploader_note i{ background:url(images/uploader.png) no-repeat -280px -280px; margin-left:-58px; height:46px; width:46px; position:absolute;}
.ds_uploader .ds_uploader_note .error i{ background-position:-280px -328px;}
.ds_uploader .ds_uploader_note strong{ display:block; color:#2dcc70; font-size:24px; font-weight:normal; padding:5px 0 8px;}
.ds_uploader .ds_uploader_note .error strong{ color:#e84c3d;}
.ds_uploader .ds_uploader_note a, .ds_uploader .ds_uploader_note em{ color:#333; font-size:14px; text-decoration:none;}
.ds_uploader .ds_uploader_note a:hover{ color:#111; text-decoration:none;}
.ds_uploader .ds_uploader_chooser{ height:280px; width:280px; position:absolute; right:0; top:0;}
.ds_uploader .ds_uploader_chooser form{ background:url(images/uploader.png) no-repeat; height:100%;}
.ds_uploader .ds_uploader_chooser form.active{ background-position:0 -280px;}
.ds_uploader .ds_uploader_chooser form.disabled{ background-position:0 -560px;}
.ds_uploader .ds_uploader_drager{ font-size:18px; padding:40px 0 0; text-align:center; text-shadow:0 1px 0 #FFF;}
.ds_uploader.ds_uploader_nodrag .ds_uploader_drager, .ds_uploader.ds_uploader_onloading .ds_uploader_btn{ display:none;}
.ds_uploader .ds_uploader_drager i{ display:block; background:url(images/uploader.png) no-repeat -280px -240px; margin:0 auto 16px; height:38px; width:38px;}
.ds_uploader .ds_uploader_drager .pipe{ display:block; color:#999; padding:14px 0;}
.ds_uploader .ds_uploader_btn{ background:url(images/uploader.png) no-repeat -280px 0; cursor:pointer; margin-left:-104px; height:46px; width:208px; overflow:hidden; position:absolute; left:50%; top:188px;}
.ds_uploader.ds_uploader_nodrag .ds_uploader_btn{ top:116px;}
.ds_uploader .ds_uploader_btn:hover, .ds_uploader  .hover .ds_uploader_btn{ background-position:-280px -48px;}
.ds_uploader form.disabled .ds_uploader_btn{ background-position:-280px -96px; cursor:default;}
.ds_uploader .ds_uploader_btn input{ cursor:pointer; font-size:99px; position:absolute; right:0; top:0; opacity:0; filter:Alpha(opacity=0);}
.ds_uploader form.disabled .ds_uploader_btn input{ cursor:default;}
.ds_uploader .ds_uploader_info{ width:472px;}
.ds_uploader.ds_uploader_nofile .ds_uploader_info{ display:none;}
.ds_uploader .ds_uploader_list{ margin:0 10px; padding:10px 0;}
.ds_uploader .ds_uploader_list h3{ font-size:14px; margin-bottom:15px;}
.ds_uploader .ds_uploader_list i{ display:inline-block; background:url(images/uploader.png) no-repeat -280px -400px; margin:-3px 6px 0 0; height:20px; width:20px; vertical-align:middle; *margin-top:0;}
.ds_uploader .ds_uploader_list li{ border-bottom:1px solid #DEDEDE; list-style:none; margin-bottom:6px; padding:8px 0; vertical-align:top; zoom:1;}
.ds_uploader .ds_uploader_list .name{ display:block; font-size:14px; margin-bottom:20px; padding-bottom:5px;}
.ds_uploader .ds_uploader_list .progress{ background:#CBCBCB; border:1px solid #A4A4A4; border-radius:15px; box-shadow:inset 0 1px 3px rgba(0,0,0,.16); font-size:0; margin-top:-20px; height:10px; width:286px; overflow:hidden; position:absolute;}
.ds_uploader .ds_uploader_list .progress em{ background:url(images/loading_bar.png) repeat-x; border:1px solid #9ddc67; border-width:0 1px; border-radius:15px; margin:-1px 0 0 -1px; min-width:1.5%; height:12px; width:50%; position:absolute; left:0; top:0;}
.ds_uploader .ds_uploader_list .uploading .progress em{ -moz-animation:progress_ani .8s linear infinite; -webkit-animation:progress_ani .8s linear infinite; -ms-animation:progress_install .8s linear infinite; -o-animation:progress_ani .8s linear infinite; animation:progress_ani .8s linear infinite;}
.ds_uploader .ds_uploader_list .status{ margin:-23px 0 0 300px; position:absolute;}
.ds_uploader .ds_uploader_list .status span{ color:#78dba2;}
.ds_uploader .ds_uploader_list .status i{ background-position:-328px -280px; height:24px; width:24px;}
.ds_uploader .ds_uploader_list .error .status span{ color:#ea6e62;}
.ds_uploader .ds_uploader_list .error .status i{ background-position:-328px -328px;}
.ds_uploader .ds_uploader_list .btn{ color:#333; margin-left:10px; text-decoration:none;}
.ds_uploader .ds_uploader_list .btn:hover{ color:#111; text-decoration:none;}
.ds_uploader .ds_uploader_list .props span{ display:inline-block; margin-right:10px; line-height:1.6; vertical-align:top;}
.ds_uploader .ds_uploader_list .props em{ font-style:normal; margin-left:.3em;}
.ds_uploader .ds_uploader_list .props i{ background-position:-300px -400px;}
.ds_uploader .ds_uploader_list .type{ background:#4ebaff; border-radius:3px; color:#FFF; padding:0 5px; text-transform:uppercase;}
.ds_uploader .ds_uploader_tips{ margin-top:10px; width:98%; position:absolute;}
.ds_uploader.ds_uploader_onloading .ds_uploader_tips{ display:none;}
@-moz-keyframes progress_ani{
	0% { background-position:0 0;}
	100% { background-position:-17px 0;}
}
@-webkit-keyframes progress_ani{
	0% { background-position:0 0;}
	100% { background-position:-17px 0;}
}
@-ms-keyframes progress_ani{
	0% { background-position:0 0;}
	100% { background-position:-17px 0;}
}
@-o-keyframes progress_ani{
	0% { background-position:0 0;}
	100% { background-position:-17px 0;}
}
@keyframes progress_ani{
	0% { background-position:0 0;}
	100% { background-position:-17px 0;}
}

.ds_uploader .ds_swfuploader{ position:absolute; left:0; top:0;}